.App {
  font-family: sans-serif;
  text-align: center;
}

.card {
  width: 200px;
  height: 120px;
  overflow: hidden;
  border-radius: 6px;
}

.card-drag {
  padding: 15px;
  text-align: left;
  top: calc(50% - 60px);
  left: calc(50% - 100px);
}

.card-drop {
  border: 2px dashed #9e9e9e;
}
